@media screen and (max-width:1280px) {
    .header-container {
        padding-top: 60px;
        padding-left: 5%; 
        padding-right: 5%; 
        display: flex;
        justify-content: space-between;
    }
    
    .hello-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card_2 {
        padding-top: 50px;
    }
    .card_3 {
        padding-top: 50px;
    }
    .description-cards {
        width: 90%;
        
    }
    
    

}
@media screen and (max-width:1024px) {

    
    .header-container {
        padding-top: 60px;
        padding-left: 3%;
        padding-right: 3%;
        display: flex;
        justify-content: space-between;
    }
   .header-link {

        margin: 0px 5px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 3px;
    }

    .main-logo{
        width: 100px;
    }

}
@media screen and (max-width:800px) {
    .main-container{
        margin: 0 auto;
    }

    .header-container {
        padding-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
        /* display: flex; */
        /* justify-content: space-between; */
    }
    .header-link {
        display: none;
        
    }
    .main-logo{
        width: 100px;
    }
    .about-img {
        padding-top: 30px;
        width: 768px;
        height: 475px;
    }
    .text-description{

        padding-right: 5px;
        
    }
    .description-cards {
        width: 100%;
        margin-top: -50px;
    }
    .description-section-1{
        margin-top: 90px;

        padding-left: 10%;
    }
    .description-section-2{
        margin-left: 5%;
    }
    .gallery-first-row{
        padding-left: 0px;
        padding-right: 0px;
    }
    .first-row-img2{
        width: 296px;
        height: 200px;
    }
    .first-row-img3{
        width: 233px;
        height: 200px;
    }
    .gallery-first-row{
        padding-left: 3%;
    }
    .second-row-img1{
        width: 423px;
        height: 420px;
    }
    .gallery-second-row{
        padding-left: 3%;
    }
    .second-row-img2{
        width: 296px;
        height: 200px;
        margin-left: 1%;
    }
    .second-row-img3{
        width: 296px;
        height: 200px;
        margin-left: 1%;
    }
    .about_us_img{
        width: 100%;
    }
    .about_us_text{
        font-size: 36px;
    }
    .contact{
        display: flex;
        flex-direction: column;
       
        margin-left: 5%;
        margin-right: 0px;
        width: 100%;
    }
    .contact_information{
        width: 90%;
    }
    .contact_form{
        width: 90%;
    }
    .form_main{
        margin-top:50px;
        margin-bottom: 50px;
    }
    .insta_gallery{
        display: grid;
        grid-template-columns: repeat(2,3fr);
        padding-left: 5%;
        padding-right: 5%;

    }
    .insta_img{
      
    
        padding-left:5%;
        padding-top: 20px;
        
    }
    .text_1 {
        padding-left: 10%;
        padding-right: 10%;
    }

}

@media screen and (max-width:600px) {
    .card-img {
        width: 290px;
        height: 325px;
    }
    .card_1{
        width: 290px;
        height: 325px;
    }
    .card_3{
        width: 290px;
        height: 325px;
    }
    .card_2{
        width: 290px;
        height: 325px;
    }
    .hello-banner {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-between;
        align-items: center;
    }
    .bg-card-title {
        margin-top: -85px;
        width: 290px;
        height: 83px;
        
    }
    .card-title {
        font-size: 15px;
        padding-top: 18px;
    
    }
    .card-description {
        font-size: 10px;
        padding-top: 20px;
        
    }
    .about-img {
        padding-top: 30px;
        width: 290px;
        height: 179px;
    }
    .description-cards {
        display: flex;
        flex-direction: column;
        
    }
    .description-section-1{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 50px;
    }
    .description-img-1 {
        padding-top: 20px;
        padding-left: 25%;
    }

    .description-section-2{
        display: flex;
        flex-direction: column;
        margin-top: -70px;
    }
    .description-card{
        margin-top: 30px;

    }
    .about-rest {

        background: linear-gradient(to bottom, white 29%, #E5E5E5 0%);
    }
    .text-1 {
        font-size: 18px;
        padding-top: 50px; 
    }
    .logo-rest {
        padding-left: 0px;
    }
    
  
}

