body {
    margin: 0;
    padding: 0;
}

.main-container {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 320px;
}
.header-container {
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
}
.main-logo {
    width: 160px;
    display: flex;
    justify-content: start;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
}
.mebu-bar {
    display: flex;
    justify-content: end;
    align-items:center;
}
.hello-banner {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
}
.card_1 {
    width: 580px;
    height: 650px;

}
.card-img {
    width: 580px;
    height: 650px;
}
.bg-card-title {
    margin-top: -170px;
    background-color: rgba(209, 169, 84, 0.9);
    width: 580px;
    height: 166px;
    opacity: 0.8;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: -10px; 
    display: flex;
    flex-direction: column;

    
}
.card-title {
    font-size: 30px;
    text-align: center;
    padding-top: 41px;
    color: white;

}
.card-description {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding-top: 20px;
    color: white;
    
}